@font-face {
  font-family: league;
  src: url(../fonts/LeagueSpartan-Medium.ttf);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: league;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: rgb(54, 52, 52);
}

button {
  border: none;
}

.calculator {
  width: 540px;
  margin: 96px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.header h1{
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo img {
  width: 50px;
}
.theme {
  display: flex;
  gap: 16px;
  align-items: center;
}

.theme h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 11.04px;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

.theme-toggle {
  width: 71px;
  background: rgb(41, 17, 17);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  counter-reset: label;
}

.theme-toggle input {
  position: absolute;
  opacity: 0;
}

.theme-toggle input+label {
  padding: 8px;
  float: left;
  color: #fff;
  cursor: pointer;
}

.theme-toggle label {
  position: relative;
}

.theme-toggle label::before {
  counter-increment: label;
  content: counter(label);
  position: absolute;
  top: -25px;
}

.theme-toggle input:checked+label {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

.sonuc {
  width: 540px;
  min-height: 151.5px;
  background-color: rgb(41, 17, 17);
  text-align: left;
  color: white;
  border: none;
  padding: 0 32px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 90px;
  text-align: right;
}

.sonuc h1 {
  margin-top: 40px;
}

.keyboard {
  width: 540px;
  padding: 32px 32px 32px 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  background-color: rgb(41, 17, 17);
}

.key {
  width: 101px;
  background-color: white;
  text-align: center;
  padding: 14px 11px;
  border-radius: 10px;
  box-shadow: 0px -4px 0px 0px #B3A497 inset;
  color: #434A59;
  font-size: 40px;
  font-weight: 700;
  line-height: 36.8px;
  letter-spacing: -0.6666666865348816px;
  text-align: center;
}
.key:active {
  box-shadow:  none;
}

.key:hover {
  background-color: #FFFFFE;
  cursor: pointer;
}

.del {
  color: white;
  box-shadow: 0px -4px 0px 0px white inset;
  background-color: gray;
}

.del:hover {
  background-color: rgb(59, 56, 56);
}
.del:active {
  box-shadow:  none;
}


.reset {
  width: 227px;
  grid-column: 1 / span 2;
  background-color: gray;
  text-align: center;
  padding: 14px 11px;
  border-radius: 10px;
  box-shadow: 0px -4px 0px 0px white inset;
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 36.8px;
  letter-spacing: -0.6666666865348816px;
  text-align: center;
}

.reset:hover {
  background-color: rgb(59, 56, 56);
  cursor: pointer;
}
.reset:active {
  box-shadow:  none;
}

.esit {
  width: 227px;
  background-color: rgb(99, 0, 0);
  text-align: center;
  padding: 14px 11px;
  border-radius: 10px;
  box-shadow: 0px -4px 0px 0px white inset;
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 36.8px;
  letter-spacing: -0.6666666865348816px;
  text-align: center;
}

.esit:hover {
  background-color: #F96B5B;
  cursor: pointer;
}

@media (width <= 768px) {

  .calculator {
    width: 375px;
    margin: 96px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }


  .header {
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  .logo {
    gap: 10px;
  }
  .logo img{
    width: 35px;
  }
  .logo h1{
    font-size: 20px;
  }

  .theme {
    display: flex;
    gap: 3px;
  }


  .sonuc {
    width: 327px;
    margin: 0 auto;
    text-align: left;
    border: none;
    padding: 29px 24px 22px 24px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.6666666865348816px;
    text-align: right;

  }

  .calculator input:focus {
    outline: none;
  }


  .keyboard {
    width: 327px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
  }
  button {
    border: none;
  }
  .key {
    width: 60px;
    text-align: center;
    padding: 12px 11px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 29.44px;
    letter-spacing: -0.5333333611488342px;
    text-align: center;

  }

  .reset {
    width: 133px;
    grid-column: 1 / span 2;
    text-align: center;
    padding: 14px 11px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.8px;
    letter-spacing: -0.6666666865348816px;
    text-align: center;
  }


  .esit {
    width: 133px;
    text-align: center;
    padding: 14px 11px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 36.8px;
    letter-spacing: -0.6666666865348816px;
    text-align: center;
  }
  .del {
    font-size:24px;
  }
}